@import '../app/scss/variables';

button {
    background-color: $button-background-primary;
    color: white
}
/* Center the toolbar title */
.toolbar {
    text-align: center;
    background-color: #3498db;
    color: white;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .toolbar-title {
    margin: 0;
    font-size: 24px;
  }
  
  /* Style for the vertical tabs */
  .content {
    display: flex;
    align-items: stretch;
    padding: 20px;
  }
  
  .tabs {
    display: flex;
    flex-direction: column; /* Display tabs vertically */
    width: 200px; /* Adjust the width of the tab container */
    background-color: #2c3e50;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .tab.active {
    background-color: #3498db; /* Active tab background color */
  }
  
  .tab:hover {
    background-color: #34495e; /* Tab background color on hover */
  }
  
  /* Style for the tab content */
  .tab-content {
    flex: 1;
    padding-left: 20px; /* Add space between tabs and content */
  }
  
 /* Style for the Colors tab */
.colors-tab {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  /* Adjust the width and height to create square-shaped cards */
  .color-card {
    width: 200px; /* Adjust the width to create square cards */
    height: 200px; /* Set the same height as the width to create square cards */
    background-color: #fff;
    padding: 10px;
    border-radius: 10px; /* Half of the width (or height) to create rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .color-card:hover {
    transform: scale(1.05); /* Enlarge card on hover */
  }
  
  .color {
    width: 100px; /* Adjust the width and height of the color circle */
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px; /* Add space between the color circle and text */
  }
  
  .color-info {
    flex: 1;
    width: 100%; /* Ensure the text takes the full width */
  }
  
  .color-name {
    font-weight: bold;
    margin-bottom: 5px; /* Add space between the color name and hex code */
  }
  
  .color-hex {
    color: #555;
  }
  